div { width: 1000px;
    height: 100px;
    text-align:center;
    background-color: teal;
    color:teal;
    position: absolute;
    top: 50%;
    margin-top: -350px; 
  left: 50%; 
margin-left: -35%;
  

}